<h1>Welcome</h1>
<h2>Coming Soon...</h2>
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Test User</title>
		<meta name="description" content="Test User aka TU, an Indian Entrepreneur ,tech enthusiast &amp; full stack developer and devOps engineer. Someone who believe in building &amp; making products awesome">
		<meta name="keywords" content="">
		
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Load Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		
		<!-- CSS -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.png">
		
	</head>
	<body class="ready">
		<!-- Preloader -->
		<div class="preloader" style="display: none;">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="spinner" style="display: none;">
							<div class="double-bounce1"></div>
							<div class="double-bounce2"></div>
						</div>
					</div>
				</div>
			</div>
		<!-- Page -->
		<div class="page">

			<header class="header">
				<div class="fw">
					<div class="logo">
						<a href="#">Test User</a>
					</div>
					<a href="#" class="menu-btn"><span></span></a>
					<div class="top-menu">
						<ul>
							<li><a href="#intro-section">Intro</a></li>
							<li><a href="#about-section">About Me</a></li>
							<li><a href="#services-section">What I Do</a></li>
							<li><a href="#experience-section">Experience</a></li>
						</ul>
						<a href="#" class="close"></a>
					</div>
				</div>
			</header>
			
			<!-- Container -->
			<div class="container">

				<!-- Section Started -->
				<div class="section started" style="height: 804px;">
					<div class="slide" style="background-image: url(<%= image_path('background.jpg')%>);"></div>
					<div class="centrize full-width">
						<div class="vertical-center">
							<h1 class="align-center text-hey">Hey, it's <span style="font-weight:600;">Test User</span></h1>
							<div class="st-title align-center">
								<div class="typing-title" style="display: none;">
									<p>Entrepreneur</p>
									<p>Full Stack Developer</p>
									<p>DevOps Engineer</p>
									<p>UI/UX Designer</p>
									<p>Coder</p>
									<p>Tech Enthusiast</p>
									<p>Blogger</p>
									<p>Freelancer</p>
									<p>Storyteller</p>
								</div>
								<span class="typed-title">Storyteller</span><span class="typed-cursor">|</span>
							</div>
							<div class="socials">
								<a target="blank" href="https://www.facebook.com/nd.naren"><i class="icon ion ion-social-facebook"></i></a>
								<a target="blank" href="https://www.instagram.com/nd.naren"><i class="icon ion ion-social-instagram"></i></a>
								<a target="blank" href="https://www.linkedin.com/in/narender-singh-nd/"><i class="icon ion ion-social-linkedin"></i></a>
								<a target="blank" href="https://twitter.com/itzndsingh"><i class="icon ion ion-social-twitter"></i></a>
								<a target="blank" href="https://github.com/ndnaren2k"><i class="icon ion ion-social-github"></i></a>
							</div>
						</div>
					</div>
					<a href="#" class="mouse-btn"><i class="icon ion ion-chevron-down"></i></a>
				</div>

				<!-- Section About -->
				<div class="section about align-left" id="intro-section">
					<div class="fw">
						<div class="row">
							<div class="col col-m-12 col-t-4 col-d-4">
								<div class="profile">

									<img src="<%= image_path('test_user.png')%>" alt="test user">
								</div>
							</div>
							<div class="col col-m-12 col-t-8 col-d-8">
								<div class="text-box">
									<h1>I'm Test User aka TU, <br>Entrepreneur &amp; Full Stack Developer <br>from India.</h1>
									<p>
										I do magic using code &amp; terminals. Technologies are not boundaries to me. Am having rich experience in developing websites &amp; applications and solving problems by developing innovative software solutions. Not just websites or apps, I believe in building awesome products ready for the global market.
										When not coding, am either building business strategies or case-studying products &amp; businesses.								</p>
									<p>
										I know exactly what's stopping your product to perform well &amp; what it needs to make your service more awesome for users. Let's grab a coffee and have a discussion.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Section About me -->
				<div class="section services gray align-left" id="about-section">
					<div class="fw">
						<div class="titles">
							<div class="title">About Me</div>
						</div>
						<div class="row">
							<div class="col col-m-12 col-t-5 col-d-5">
								<div class="service-item">
									<div class="name">Things you should know about me </div>
									<p>
										</p><ul class="about_ul">
											<li> Technologies are not boundaries to me. </li>
											<li> I'm a fast learner. Give me a new tech &amp; some time and watch me do the magic. </li>
											<li> If it's about tech, it's about me ! Lemme handle the tech for you.</li>
											<li> I do it with passion or not at all, it's simple as that.</li>
											<li> I have spent about more than 70% of my past 3 years in front of screens &amp; on the internet trying crazy things, learning stuff, case-studying businesses, developing softwares and here I'm now !</li>
											<li> I'm a too honest &amp; responsible person. Give me some work and consider it's done !</li>
											<li> I love helping &amp; mentoring fellow coders, entrepreneurs &amp; college students to learn something new and i believe in learning from them. That's what makes me a good teammate &amp; leader.</li>
											<li> I'm passionate about developing products and making services more awesome for users.</li>
											<li> I want to contribute in doing /developing something amazing for Humanity &amp; making people's life easy using the knowledge &amp; tools I have.
										</li></ul>
									<p></p>
								</div>
							</div>
							<div class="col col-m-12 col-t-2 col-d-2">
							<p></p>
							</div>
							<div class="col col-m-12 col-t-5 col-d-5">
								<div class="service-item">
									<div class="name">Personal Info</div>
									<p>
										</p><ul>
											<li><b>Full Name : </b>Test User</li>
											<li><b>Career : </b> I started my journey as an entrepreneur when I was 16 years old. From that day onwards , I kept learning things &amp; here I'm now !</li>
											<li><b>Profession : </b> Right now, am running two startups and serving the role of Chief Techie (CTO). I'm an innovator &amp; full stack developer by skills.</li>
											<li><b>Education : </b> I'm a dropout! I dropped out from pre-final year of my under-graduation degree in Information Technology.</li>
										</ul><br>
										<button class="accordion"><i class="icon ion ion-arrow-right-b"></i> &nbsp; Story behind my nick name 'Nd'</button>
										<p class="panel">
											<b>Meaning of 'Nd' &amp; what it stands for ?</b> : <br>
											'Nd' is an abbreviation of 'Not Defined'. Seems too odd, but I use to represent my beliefs towards humanity, religion &amp; people.
											<br>Actually, I was nicknamed 'Andi' by schoolfriends which meant an awesome/ cool person. Later on, I improved the abbreviation to suit my beliefs. So, Hey I'm Test ! 
										</p>

										<button class="accordion"><i class="icon ion ion-arrow-right-b"></i> &nbsp; Something more personal</button>
										
										<p class="panel">
											<b> Native Soil -</b> I'm from a small town of Haryana, India.<br>
											<b>Religion -</b> I'm 'Jaat' , Hindu by birth. But, I believe in humanity much more than religions.<br>
											<b>Age - </b> I was born on the 3rd day of 2k's decade. Cracking it down for you, I'm 19 years old.<br>
											<b>Languages &amp; dialects am familiar with : </b> English, Hindi, Punjabi, Haryanvi &amp; Rajasthani.<br>
											I'm an Introvert person &amp; sometimes shy too. In free time, I love listening to music, reading novels, writing or storytelling my feelings and clicking pictures.
											<br> To know more about me, connect with me on social media.
										</p>

										<button class="accordion"><i class="icon ion ion-arrow-right-b"></i> &nbsp; Let's Connect !</button>
										<p class="panel" style="padding-bottom:45px;">
											It all starts with a 'Hello'. Let's connect with each other and have some discussion. I'm round the clock online learning &amp; doing something interesting.
											<br> You can mail me on <a target="blank" href="mailto:hi@ndnaren.com" style="font-family:'sans"> hi@ndnaren.com</a> or find me on social media and LinkedIn by clicking the below links:
											<br> 
											<span class="socials_contact" style="width:100%; float:inline-end;">
												<a target="blank" href="https://www.facebook.com/test"><i class="icon ion ion-social-facebook"></i></a>
												<a target="blank" href="https://www.instagram.com/test"><i class="icon ion ion-social-instagram"></i></a>
												<a target="blank" href="https://www.linkedin.com/in/test/"><i class="icon ion ion-social-linkedin"></i></a>
												<a target="blank" href="https://twitter.com/test"><i class="icon ion ion-social-twitter"></i></a>
												<a target="blank" href="skype://live:cfcd2c0677795902?chat"><i class="icon ion ion-social-skype"></i></a>
												<a target="blank" href="mailto:test@yopmail.com"><i class="icon ion ion-android-mail"></i></a>
											</span>
										</p>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Section What I Do -->
				<div class="section services  align-left" id="services-section">
					<div class="fw">
						<div class="titles">
							<div class="title">What I'm capable of ..?</div>
						</div>
						<div class="row">
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-ios-browsers"></i></div>
									<div class="name">UI/UX Design</div>
									<p>An awesome user experience makes the user fall in love with your application. I design fully responsive &amp; interactive user interface while keeping it minimal &amp; making your application attractive and easy-to-use. </p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-ios-lightbulb"></i></div>
									<div class="name">Innovative Planning &amp; Ideation</div>
									<p>I believe in Innovation and making products &amp; services better with an innovative approach. I help you build creative &amp; implementable strategies for your idea.</p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-ios-color-wand"></i></div>
									<div class="name">Web Designing</div>
									<p>I design fully responsive &amp; interactive user interface while keeping it minimal &amp; making your application attractive and easy-to-use. Am highly creative with the designs I code.  </p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-code"></i></div>
									<div class="name">Backend &amp; API Development</div>
									<p>I'm capable of coding highly efficient &amp; powerful backend / API for your website &amp; application. Having experience of developing custom CMS , ERP , EMS , polling systems and eCommerce.</p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-social-android"></i></div>
									<div class="name">Mobile Apps Development</div>
									<p>Either it's an android or iOs application, i'm capable of developing mobile applications for both platforms. I'm experienced with both Native as well as Hybrid app development.</p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-social-buffer"></i></div>
									<div class="name">Server &amp; DB Administration</div>
									<p>I'm good with server &amp; database administration. I have experience working with linux servers and Mysql &amp; MongoDb databases. My database designing skills are good.</p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-social-facebook"></i></div>
									<div class="name">Digital Marketing Expert</div>
									<p>I'm having experience of building and managing more than a million audience base for different content platforms &amp; websites. Have written content, blogs &amp; also tried youtube platform.</p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-android-people"></i></div>
									<div class="name">Project Management &amp; Leadership</div>
									<p>Having experience handling projects and working as lead developer to the team. Good at planning strategies and making ideas happen.</p>
								</div>
							</div>
							<div class="col col-m-12 col-t-6 col-d-4">
								<div class="service-item">
									<div class="circle"><i class="icon ion ion-code-working"></i></div>
									<div class="name">DevOps</div>
									<p>Technologies are not boundaries to me. I'm a DevOps engineer having strong commands and experience with the stages from planning, design, development &amp; testing to the deployment of software.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Section Experience -->
				<div class="section services gray align-left" id="experience-section" style="padding-bottom:0px;">
					<div class="fw">
						<div class="titles">
							<div class="title">My Journey So Far ...</div>
						</div>
						<div class="col col-m-12 col-t-12 col-d-12">

						<ul class="timeline">
								
								<li class="timeline-inverted">
								<div class="timeline-badge "><i class="icon ion ion-bookmark"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Co-Founder &amp; CTO at Vanfly Private Limited</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Nov 2018 to Present </small></span>
									</div>
									<div class="timeline-body">
									<p>We empower your business using technology. We provide IT Services &amp; Solutions.We develop websites, software's &amp; mobile applications. We also offer digital marketing services.</p>
									</div>
								</div>
								</li>
								<li>
								<div class="timeline-badge "><i class="icon ion ion-social-buffer"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Co-Founder at HostUpgrading.com</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Aug 2018 to Present</small></span>
									</div>
									<div class="timeline-body">
									<p>HostUpgrading.com was founded with a mission of making website hosting more reliable &amp; cost effective. Built on the revolutionary cloud technologies, we provide shared web hosting services at most affordable prices assuring you the best service quality.</p>
									</div>
								</div>
								</li>
								<li class="timeline-inverted">
								<div class="timeline-badge "><i class="icon ion ion-social-android"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Developer Intern at Wittyfeed (Vatsana)</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Jun 2018 to Sep 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>As a Full Stack Developer intern, I worked on various web technologies, designing, planning, development, and deployment of the softwares. Worked with android application development too.</p>
									</div>
								</div>
								</li>
								<li>
								<div class="timeline-badge "><i class="icon ion ion-social-html5"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Developer at Mayur Sikhshan Sansthan</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Mar 2018 to Apr 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>Designed and developed an institution website for Mayur Sikhshan Sansthan and help them manage their website and social media handles.</p>
									</div>
								</div>
								</li>
								<li class="timeline-inverted">
								<div class="timeline-badge "><i class="icon ion ion-person"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Team Leader at SIH-18</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Jan 2018 to Apr 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>Team Leader of Team Beast at Smart India Hackathon 2018. Built a software solution for the department of telecommunications (Govt of India).</p>
									</div>
								</div>
								</li>
								<li>
								<div class="timeline-badge "><i class="icon ion ion-code"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Freelance Full Stack Developer</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Aug 2017 to Oct 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>From the days I started building web interfaces &amp; designing websites, I started to freelance as a Programmer /Developer. With time, I kept upgrading my skills and continued my journey as a freelancer &amp; full stack developer. I have worked with many businesses &amp; individuals under Non-disclosure agreements handling their technical needs and developing websites &amp; applications for them.</p>
									</div>
								</div>
								</li>
								<li class="timeline-inverted">
								<div class="timeline-badge "><i class="icon ion ion-android-people"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Lead Developer at TPCell GJUST</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Aug 2017 to Aug 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>Worked as project leader &amp; back end developer for training &amp; placement cell GJSUST Hisar. Developed &amp; managed the official website of TPCell GJUST.</p>
									</div>
								</div>
								</li>
								<li>
								<div class="timeline-badge "><i class="icon ion ion-android-bulb"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Founder at YuvaBolega.com</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Apr 2017 to 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>YuvaBolega was founded as a platform for Indian Youth to share their opinions on various topics and have a meaningful discussion that makes an effect on the mindsets and help improve society.</p>
									</div>
								</div>
								</li>
								<li class="timeline-inverted">
								<div class="timeline-badge "><i class="icon ion ion-android-document"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Partner &amp; Content Producer at Skilled Course</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Feb 2017 to Aug 2017</small></span>
									</div>
									<div class="timeline-body">
									<p>Being an engineering student and tech aspirant, co-founded SkilledCourse a platform to share knowledge &amp; help students learn skills in an easy &amp; programmed structure.</p>
									</div>
								</div>
								</li>
								<li>
								<div class="timeline-badge "><i class="icon ion ion-android-list"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Co-Founder at The Hell Viral Feeds</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Dec 2016 to Sep 2017</small></span>
									</div>
									<div class="timeline-body">
									<p>Inspired by the viral news websites, TheHellViralFeeds was founded with the strategies to generate and publish viral content on social media and generate revenue using influencers and programmatic advertisements. Failed to scale it.</p>
									</div>
								</div>
								</li>
								<li class="timeline-inverted">
								<div class="timeline-badge "><i class="icon ion ion-social-facebook"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
									<h5 class="timeline-title">Digital Marketing Specialist &amp; Social Media Influencer</h5>
									<span><small class="text-muted"><i class="icon ion ion-android-time"></i> Sep 2016 to Feb 2018</small></span>
									</div>
									<div class="timeline-body">
									<p>Used to work as a freelancer Digital marketing specialist and social media influencer. Having experience of building and managing more than a million audience base for different content platforms &amp; websites. Have written content, blogs &amp; also tried youtube platform.</p>
									</div>
								</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer -->
				<footer class="align-center">
					<h4>Thanks for scrolling all the way down.</h4>
					<div class="skills">
						<i class="devicon-codeigniter-plain"></i>
						<i class="devicon-bootstrap-plain"></i>
						<i class="devicon-android-plain"></i>
						<i class="devicon-apache-plain"></i>
						<i class="devicon-angularjs-plain"></i>
						<i class="devicon-css3-plain"></i>
						<i class="devicon-cplusplus-plain"></i>
						<i class="devicon-c-plain"></i>
						<i class="devicon-django-plain"></i>
						<i class="devicon-git-plain"></i>
						<i class="devicon-gitlab-plain"></i>
						<i class="devicon-html5-plain"></i>
						<i class="devicon-java-plain"></i>
						<i class="devicon-javascript-plain"></i>
						<i class="devicon-jquery-plain-wordmark"></i>
						<i class="devicon-linux-plain"></i>
						<i class="devicon-mongodb-plain"></i>
						<i class="devicon-mysql-plain"></i>
						<i class="devicon-php-plain"></i>
						<i class="devicon-python-plain"></i>
						<i class="devicon-nodejs-plain"></i>
						<i class="devicon-pycharm-plain"></i>
						<i class="devicon-phpstorm-plain"></i>
						<i class="devicon-react-original"></i>
						<i class="devicon-slack-plain"></i>
						<i class="devicon-typescript-plain"></i>
						<i class="devicon-visualstudio-plain"></i>
						<i class="devicon-wordpress-plain"></i>
					</div>
				</footer>
				
			</div>

		</div>
		
		<!-- jQuery Scripts -->
		<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
		<!-- <script src="js/jquery.min.js"></script> -->
		<!-- <script src="js/jquery.validate.js"></script>
		<script src="js/masonry.pkgd.js"></script>
		<script src="js/imagesloaded.pkgd.js"></script>
		<script src="js/masonry-filter.js"></script>
		<script src="js/magnific-popup.js"></script>
		<script src="js/jquery.mb.YTPlayer.js"></script>
		<script src="js/particles.js"></script>
		<script src="js/typed.js"></script> -->
		
		<!-- Main Scripts -->
		<!-- <script src="js/main.js"></script> -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-135579335-1"></script> -->
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-135579335-1');
		</script>
	</body>
</html>